<div class="panel panel-primary">
	<div class="panel-heading">
		{{pageTitle}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="md-col-2">Filter by:</div>
			<div class="md-col-4"><input [(ngModel)]="listFilter" type="text" /></div>
		</div>
		<div class="row">
			<div class="md-col-6">
				<h3>Filtered by: {{ listFilter }}</h3>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table" *ngIf="products.length">
				<thead>
					<tr>
						<th>
							<!-- Conditional logic! goes like this {{ class property ?(eval) true :(otherwise) false }} #theMoreYouKnow -->
							<button class="btn btn-primary" (click)="toggleImage()">{{showImage ? "Hide" : "Show" }} Image</button>
						</th>
						<th>Product</th>
						<th>Code</th>
						<th>Availability</th>
						<th>Description</th>
						<th>Price</th>
						<th>5 Star Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor ="#product of products">
						<!-- NOTE! the style.width.px and style.margin.px do not have a 'product.' prefix. that is because it is a property of the component class, not a product object property -->
						<td><img *ngIf="showImage" [src]="product.imageUrl" [title]="product.productName" alt="Image of {{ product.description }}" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"></td>
						<td>{{ product.productName }}</td>
						<td>{{ product.productCode | lowercase }}</td>
						<td>{{ product.releaseDate }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.price | currency:"USD":true:"1.2-2" | lowercase }}</td>
						<td>{{ product.starRating }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>